
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~bulma/bulma.sass";

@import "~buefy/src/scss/buefy.scss";

//Custom CASS Pages

@import "overrides.scss";
@import "helpers.scss";
@import "styles.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar{
    min-height: 4.5rem;
}

.navbar-item img{
    min-height: 2.8rem;
}